<h3 class="offset-2 text title-sub-text">商品登録</h3>
<div class="container">
 <%= form_with model: @item, url: admin_items_path(@item.id), local:true do |f| %>
 <%= render 'itemform', f: f %>
    <tr>
     <th></th>
      <td>
       <%= f.submit "新規登録", class: "btn btn-success mr-4 col-2" %>
      </td>
    </tr>
   </table>
  <% end %>
</div>
