<div class="container">
 <h3 class="offset-lg-2 title-sub-text">商品登録</h3>
 <div class="row">
   <div class="offset-lg-3 col-lg-12">
 <%= form_with model: @item, url: admin_items_path(@item.id), local:true do |f| %>
 <%= render 'itemform', f: f %>
   <%= f.submit "新規登録", class: "btn btn-success offset-lg-2" %>
 <% end %>
  </div>
 </div>
</div>
