<% if model.errors.any? %>
  <div class="alert alert-danger alert-dismissible mt-4 ">
    <h5 class="alert-heading offset-5">
      <%= model.errors.count %> 件のフォームの入力をしてください。
    </h5>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
